{% block content %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>AIRLINE</title>
    <link rel="stylesheet" href="static/css/style.css">
   <link rel="icon" href="static/images/planes.png">
    {% load static %}
</head>
<body>
    <div class="header">
    <div class="container">
    <div class="navbar">
        <div class="logo">
           
        </div>
        <nav>
            <ul  id="MenuItems">
                <li><a href="{%url 'home' %}">HOME</a></li>
                <li><a href="{%url 'findflight'%}">FIND FLIGHT</a></li>
                <li><a href="{%url 'seebookings'%}">YOUR BOOKINGS</a></li>
                <li><a href="{%url 'contact'%}">CONTACT</a></li>
                <li><a href="{%url 'signin'%}">LOGIN</a></li>
                <li><a href="{%url 'signout'%}">LOGOUT</a></li>
                <li><a href="{%url 'signup'%}">SIGN IN</a></li>
          
            </ul>
     <img src="static/images/menu.jpg" class="menu-icon" onclick="menutoggle()">
     </div>
     </div>
     </div>

     <div class="small-container">
        <h3>{{msg}}</h3>
         <center> <h1>AVILABLE FLIGHTS</h1></center>
        <table>
            <thead style="background-color: blue;color: white;">
                <td>ID</td>
                <td>NAME</td>
                <td>SOURCE</td>
                <td>DESTINATION</td>
                <td>TOTAL SEATS</td>
                <td>AVILABLE SEATS </td>
                <td>PRICE</td>
                <td>DATE</td>
                <td>TIME</td>
            </thead>
            {% for row in flight_list %}
            <tr>
                <td>{{row.id }}</td>
                <td>{{row.flight_name}}</td>
                <td>{{row.source}}</td>
                <td>{{row.dest}}</td>
                <td>{{row.nos}}</td>
                <td>{{row.rem}}</td>
                <td>{{row.price}}</td>
                <td>{{row.date}}</td>
                <td>{{row.time}}</td>
        </tr>
            {% endfor %}
         </table>
     </div>
     <div class="small-container">
            <div class="row">
              <div class="col">
                    <form action="{%url 'bookings' %}" method="POST">
                    <h1 class="title">SELECT THE FLIGHT</h1>
                    {% csrf_token %}
                    <div class="inputBox">
                        <span>Flightid</span>
                        <input type="number"  name='flight_id'>
                    </div>
                    <div class="inputBox">
                        <span>Number of seats:</span>
                        <input type="number"  name='no_seats'>
                    </div>
                  <div class="small-container" style="box-shadow:3px 4px 3px 2px rgb(186, 186, 198); width: 100%;"> 
                   <h1 class="title">PAYMENT</h1>
                   
                    <div class="inputBox">
                        <span>Name</span>
                        <input type="text"  name='name' autofocus required>
                 </div>
                <div class="inputBox">
                    <span>Name of bank</span>
                    <input type="text"  name='bankname' autofocus required>
                </div>
                <div class="inputBox">
                    <span>Account No</span>
                    <input type="number"  name='accountno'>
                </div>
                <br>
              <div class="inputBox">
                    <span>Nameofcard</span><br>
                    <input type="text"  name='cardname'>
                </div>
                <div class="inputBox">
                    <span>CardNo</span><br>
                    <input type="number"  name='cardno'>
                </div>
                <div class="inputBox">
                    <span>Expyear</span><br>
                    <input type="date"  name='expyear'>
                </div>
                  
                    <div class="inputBox">
                        <button type="submit" class="btn" >BookFlight</button>
                    </div>
                </div>
            </div>
      
            {{error}}
        </form>
       </div>
     </div>
   <script>
        var MenuItems = document.getElementById("MenuItems")
        MenuItems.style.maxHeight="0px";
        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px"){
                MenuItems.style.maxHeight ="200px";
            }
            else{
                MenuItems.style.maxHeight ="0px";
            }
            }
        
    </script>
</body>
</html>
{% endblock %}